.paste{:id => dom_id(paste)}
  .paste-header
    = link_to "##{paste.id}", paste_path(paste), :class => 'paste_id'
    = link_to "Copy", paste_path(paste, :format => 'text'), :class => 'copy', :title => 'Copy to clipboard'
    = link_to "Refeed", refeed_paste_path(paste), :class => 'refeed', :title => 'Refeed'
    %span.line_count= pluralize(paste.line_count, 'line')
    %span.language= "( #{paste.default_language} )"
  = timeago(paste.created_at, :class=>'created_at')
  .paste-body
    ~ paste.preview
  = render :partial => 'tags', :object => paste.tags