#paste
  #paste-header
    = render :partial => 'tags', :object => @paste.tags
    = render :partial => 'paste_header', :locals => {:paste => @paste}
    = "#{pluralize(@paste.line_count, 'line')}, "
    = timeago(@paste.created_at, :class=>'created_at')
  %div{:style=>"clear:both"}
  = render :partial => 'section', :collection => @paste.sections