#paste
  #paste-header
    = render :partial => 'tags', :object => @paste.tags
    = link_to "##{@paste.id}", paste_path(@paste), :class => 'paste_id'
    = link_to 'copy', paste_path(@paste, :format => 'text'), :class => 'copy', :title => 'copy to clipboard'
    %span.line_count= "#{pluralize(@paste.line_count, 'line')}, "
    = timeago(@paste.created_at, :class=>'created_at')
  %div{:style=>"clear:both"}
  = render :partial => 'section', :collection => @paste.sections