!!! 1.0 Strict
%html{ :lang=>'en_us', 'xml:lang'=>'en_us', :xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    = stylesheet_link_tag 'screen', 'uv/dawn', :cache => true
    = javascript_include_tag JQUERY_INCLUDE_PATH
    = javascript_include_tag :all, :cache => true
    %meta{ 'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8' }
    %title 
      &= @title
  %body
    #header
      %h1
        = link_to 'Eat',   new_paste_path, :id => 'nav-new',  :class => @new_nav_selected
        = link_to 'Some',  pastes_path,    :id => 'nav-some', :class => @some_nav_selected
        = link_to 'Paste', pastes_path,    :id => 'nav-all',  :class => @index_nav_selected
      - form_tag search_pastes_path, :method => :get do 
        %label{:for => 'q'}
          Search: 
          = text_field_tag :q, h(params[:q]), :type => 'search'
          = submit_tag :search, :class => 'search'
    #content
      = yield
    #footer